
<div style="padding-right:50px; border-right: 1px solid #a6abb1">
<h2>Template</h2>

<hr>
<ul class="list-group list-group-flush">
    <li *ngFor="let item of templateMenu"
    class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive ="active">
        {{ item.texto }}
    </li>
    
</ul>
        
<hr>

<br>
<h2 >Reactive</h2>
<hr>
<ul class="list-group list-group-flush">
    <li *ngFor="let item of reactiveMenu"
    class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive ="active">
        {{ item.texto }}
    </li>
    
</ul>
<br>

<h2 >Validaciones</h2>
<hr>
<ul class="list-group list-group-flush">
    <li *ngFor="let item of authMenu"
    class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive ="active">
        {{ item.texto }}
    </li>
    
</ul>
</div>

